@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanchoneTOP</title>

    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/assets/css/new.css" rel="stylesheet" />

</head>
<body>
    
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <a asp-area ="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-lg-0">
                
                <h1>LanchoneTOP<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                   
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="nav-link text-black" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Contato" asp-action="Index">Contato</a></li>
                    <li>
                        <form class="navbar-form" asp-controller="Lanche" asp-action="Search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Procurar produto" name="searchString" value="@ViewData["searchString"]">
                            </div>
                        </form>
                    </li>
                    <li>@await Component.InvokeAsync("CarrinhoCompraResumo")</li>
                    <li>@await Component.InvokeAsync("CategoriaMenu")</li>
                    <li><a href="#gallery">Localização</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                              method="post" class="navbar-left">
                            

                            <button type="submit" class="btn-book-a-table">
                                Logout: @User.Identity.Name
                            </button>

                        </form>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" class="btn-book-a-table">Logar</a>
                        <a asp-controller="Account" asp-action="Register" class="btn-book-a-table">Registrar-se</a>
                    }
                </ul>
            </nav>
           
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        </div>

    </header>
    <br />
    <br />
    <br />
    <br />
    <br />

    <main role="main" class="pb-3">
        <br/>
        @RenderBody()
     </main>

    
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        <h4>Endereço</h4>
                        <p>
                            Salvador, Bahia <br>
                            Rua Placeholder, 122<br>
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Reservas</h4>
                        <p>
                            <strong>Phone:</strong> +55 71 99135-7672<br>
                            <strong>Email:</strong> pf-baptista@hotmail.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Funcionamento</h4>
                        <p>
                            <strong>Segunda-Domingo: 10AM</strong> - 22PM<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; 2021 - LanchoneTOP
            </div>
            <div class="credits">
                Feito por <a href="https://www.linkedin.com/in/pedro-filipe-4a4275248/">Pedro Filipe</a>
            </div>
        </div>

    </footer>
   

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    
    <script src="~/assets/js/main.js"></script>
</body>
</html>
