@model IEnumerable<LanchoneTOP.Models.Lanche>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Produtos</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-outline-primary">Criar novo Produto</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
               <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a asp-action="Edit" asp-route-id="@item.LancheId">
                            <button type="button" class="btn btn-outline-primary">Editar</button>
                        </a>
                    <a asp-action="Details" asp-route-id="@item.LancheId">
                            <button type="button" class="btn btn-outline-primary">Detalhes</button>
                        </a>
                    <a asp-action="Delete" asp-route-id="@item.LancheId">
                            <button type="button" class="btn btn-outline-danger">Deletar</button>
                        </a>
                  </div>
            </td>
        </tr>
}
    </tbody>
</table>
